@model IEnumerable<GGData.Models.Avaliacao>

@{
    ViewData["Title"] = "Avaliações";
    var currentUserName = (string)ViewBag.CurrentUserName;
}

<h1>Avaliações</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Nova Avaliação</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nota</th>
            <th>Comentários</th>
            <th>Data Review</th>
            <th>Tipo Usuário</th>
            <th>Usuário</th>
            <th>Jogo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nota</td>
                <td>@item.Comentarios</td>
                <td>@item.DataReview</td>
                <td>@item.TipoUsuario</td>
                <td>@item.Usuario.UserName</td>
                <td>@item.Jogo.Nome</td>
                <td>
                    @if (User.Identity.IsAuthenticated && (item.Usuario.UserName == currentUserName || User.IsInRole("Administrador")))
                    {
                        <a asp-action="Edit" asp-route-id="@item.AvaliacaoId">Editar</a>
                        <text> | </text>
                        <a asp-action="Details" asp-route-id="@item.AvaliacaoId">Detalhes</a>
                        <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.AvaliacaoId">Apagar</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.AvaliacaoId">Detalhes</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
