@model GGData.Models.Estatistica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Estatistica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conquistas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conquistas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoMedioJogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoMedioJogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAvaliacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAvaliacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediaNotaUtilizadores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediaNotaUtilizadores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediaNotaCriticos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediaNotaCriticos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jogo.JogoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EstatisticaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
